:root {
    --White-Background: #fff;
    --Black-Background: #000;
    --Accent-Background: #c8c8b2;
    --Accent-Background2: #fffff5;
    --Green-Text: #284d26;
}
@font-face {
    font-family: "Lovelo";
    src: url("./assets/font/Lovelo-Black.otf") format("otf"),
        url("./assets/font/Lovelo-Line-Bold.otf") format("otf"),
        url("./assets/font/Lovelo-Line-Light.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;

}
html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: gray;
    font-family: Lovelo, Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
.Navigation-Body {
    display: flex;
    background-color: var(--White-Background);
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 15px 20px;
    flex: 1;
}
.Nav-Logo-Container,
.Nav-Link-Container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.Logo img {
    width: 50px;
    object-fit: contain;
}
.Logo-Text {
    font-size: large;
    font-weight: bold;
}
.Nav-Link-Container img {
    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.A-Link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.Section-1 {
    display: flex;
    position: relative;
    background-color: black;
    justify-content: space-between;
    padding: 15px 20px;
    overflow: hidden;
    background-size: cover;
}
.Section-1-Button-Styling {
    background-color: var(--Accent-Background);
    border-color: var(--Accent-Background);
    color: var(--Black-Background);
    font-weight: bold;
}
.Section-1-Button-Styling:hover {
    background-color: #a4a492;
    border-color: #a4a492;
    color: var(--Black-Background);
}
.Section-1-Button-Styling:active {
    background-color: #a4a492 !important;
    border-color: #a4a492 !important;
    color: var(--Black-Background);
}
.Text-White {
    color: white;
    opacity: 1;
    filter: blur(0);
    text-shadow: 0 0 50px #000;
}
.Section-1::before {
    content: "";
    background-image: url("/assets/images/Section1BG.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    opacity: 0.2;
}
.Section-1-Left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 0px;
    width: 65%;
    gap: 20px;
}
.Section-1-Right {
    display: flex;
    flex: 1;
    max-width: 25%;
    padding: 5vh 0px;
    flex-direction: column;
    align-items: flex-end;
}
.Section-1-Heading {
    font-size: 4.5rem;
    font-weight: bold;
}
.Section-1-Tagline {
    font-size: 1.9rem;
}
.Section-1-Button {
    font-size: 1.5rem;
}
#HamburgerBtn {
    width: 25px;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.Menu-Toggle {
    background-color: var(--Accent-Background);
    color: var(--Black-Background);
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    width: fit-content;
}
.Menu-Actions-Btn {
    display: flex;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
}
.Menu-Actions-Btn:active,
.Menu-Actions-Btn:hover {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
}
.Menu-Actions {
    display: none;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 1rem;
    padding: 10px;
    flex-direction: column;
}

.Menu-Actions.active {
    display: flex;
}
.Menu-Links {
    text-decoration: none;
    text-align: center;
}
.Section-2 {
    display: flex;
    background-color: var(--Accent-Background2);
    color: var(--Black-Background);
    padding: 30px 20px 60px 20px;
}
.Section-2-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}
.Section-2-Heading {
    font-size: 2rem;
    font-weight: bold;
}
.Section-2-Body {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.Card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.Card-Image{
    /* height: 50%; */
    flex: 1;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Section2CardImage {
    width: 100%;
    height: 100%;
    object-fit:cover;
    aspect-ratio: 3/2;
}
.Card-Body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Card-Body-Heading {
    color: var(--Green-Text);
    font-weight: bold;
}

/* Responsive UI */
@media only screen and (max-width: 768px) {
    .Navigation-Body {
        height: fit-content;
    }
    .Nav-Link-Container img {
        width: 35px;
    }
    .Logo img {
        width: 40px;
        object-fit: contain;
    }
    .Section-1-Heading {
        font-size: 2rem;
        font-weight: bold;
    }
    .Section-1-Tagline {
        font-size: 1.25rem;
    }
    .Section-1-Button {
        font-size: 1.25rem;
    }
    .Menu-Toggle {
        font-size: 0.75rem;
    }
    .Section-2 {
        padding: 20px;
    }
    .Section-2-Container {
        gap: 20px;
    }
    .Section-2-Heading {
        font-size: 1rem;
        font-weight: bold;
    }
    .Section-2-Body {
        flex-direction: column;
        gap: 20px;
    }
    .Card{
        gap: 10px;
    }
    .Card-Body{
        gap: 10px;
    }
}
