:root {
    --White-Background: #fff;
    --Black-Background: #000;
    --Accent-Background: #c8c8b2;
    --Accent-Background2: #fffff5;
    --Accent-Background3: #545441;
    --Green-Text: #284d26;
}
@font-face {
    font-family: "Lovelo";
    src: url("./assets/font/Lovelo-Black/Lovelo-Black.ttf") format("truetype"),
        url("./assets/font/Lovelo-Black/Lovelo-Black.woff") format("woff"),
        url("./assets/font/Lovelo-Black/Lovelo-Black.woff2") format("woff2");
}
@font-face {
    font-family: "HKGrotsek";
    src: url("./assets/font/hk-grotesk/TTF/HKGrotesk-Regular.ttf")
            format("truetype"),
        url("./assets/font/hk-grotesk/WEB/HKGrotesk-Regular.woff")
            format("woff"),
        url("./assets/font/hk-grotesk/TTF/HKGrotesk-Bold.ttf")
            format("truetype"),
        url("./assets/font/hk-grotesk/WEB/HKGrotesk-BoldItalic.woff")
            format("woff"),
        url("./assets/font/hk-grotesk/WEB/HKGrotesk-BoldItalic.woff2")
            format("woff2"),
        url("./assets/font/hk-grotesk/WEB/HKGrotesk-Regular.woff2")
            format("woff2");
}
@font-face {
    font-family: "Alata";
    src: url("./assets/font/Alata/Alata-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: gray;
    scroll-behavior: smooth;
    font-family: Alata, Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
.Navigation-Body {
    display: flex;
    background-color: var(--Accent-Background2);
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    flex: 1;
}
.Nav-Logo-Container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.Nav-Link-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}
.Logo img {
    width: 4vw;
    object-fit: contain;
}
.Logo-Text {
    font-family: HKGrotsek;
    font-size: large;
    font-weight: bold;
}
.Nav-Link-Container img {
    width: 3.8vw;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.A-Link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.Section-1 {
    display: flex;
    position: relative;
    background-color: black;
    justify-content: space-between;
    padding: 80px 100px;
    overflow: hidden;
    background-size: cover;
}
.Section-1-Button-Styling {
    background-color: var(--Accent-Background);
    border-color: var(--Accent-Background);
    color: var(--Black-Background);
    font-weight: bold;
    font-family: HKGrotsek;
}
.Section-1-Button-Styling:hover {
    background-color: #a4a492;
    border-color: #a4a492;
    color: var(--Black-Background);
}
.Section-1-Button-Styling:active {
    background-color: #a4a492 !important;
    border-color: #a4a492 !important;
    color: var(--Black-Background);
}
.Text-White {
    color: white;
    opacity: 1;
    filter: blur(0);
    text-shadow: 0 0 50px #000;
}
.Section-1::before {
    content: "";
    background-image: url("assets/images/Section1BG.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    opacity: 0.2;
}
.Section-1-Left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 0px;
    width: 65%;
    gap: 40px;
}
.Section-1-Right {
    display: flex;
    flex: 1;
    max-width: 25%;
    padding: 5vh 0px;
    flex-direction: column;
    align-items: flex-end;
}
.Section-1-Heading {
    font-size: 4.25vw;
    font-weight: bold;
    font-family: Lovelo;
}
.Section-1-Tagline {
    font-size: 2vw;
    font-family: Alata;
}
.Section-1-Button {
    font-size: 1.5rem;
}
#HamburgerBtn {
    width: 25px;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.Menu-Toggle {
    background-color: var(--Accent-Background);
    color: var(--Black-Background);
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    width: fit-content;
}
.Menu-Actions-Btn {
    display: flex;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
}
.Menu-Actions-Btn:active,
.Menu-Actions-Btn:hover {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 10px;
}
.Menu-Actions {
    display: none;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 1rem;
    padding: 10px 0px;
    flex-direction: column;
}

.Menu-Actions.active {
    display: flex;
}
.Menu-Links {
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 5px 10px;
}
.Menu-Links:hover {
    background-color: var(--Accent-Background3);
    color: var(--White-Background);
}
.Section-2 {
    display: flex;
    background-color: var(--Accent-Background2);
    color: var(--Black-Background);
    padding: 80px 100px 60px 100px;
    flex-direction: column;
    gap: 40px;
}
.Section-2-Heading {
    font-size: 2rem;
    font-weight: bold;
    font-family: HKGrotsek;
}
.Section-2-Body {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.Card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    width: 60%;
}
.Section2CardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}
.Card-Body {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Card-Body-Heading {
    color: var(--Green-Text);
    font-weight: bold;
    font-size: 1.5vw;
    font-family: HKGrotsek;
}
.Card-Body-Content {
    font-size: 1.35vw;
}
.animate-slide-in {
    animation: slideIn 2s ease-in-out;
}
.DownToUpTransition {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 3s, transform 3s;
}

.DownToUpTransition.visible {
    opacity: 1;
    transform: translateY(0);
}

.Section-4 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--Accent-Background2);
    color: var(--Black-Background);
    padding: 150px 100px 150px 100px;
}
.Section-4-Container {
    text-align: center;
}
#Section-4-Container1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: HKGrotsek;
}
#Section-4-Container2 {
    font-size: 1.5rem;
    line-height: 3rem;
}
#Section-4-Container3 {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.Section-4-Card {
    flex: 1;
    position: relative;
}
.Section-4-Card-Image {
    width: 100%;
}
.Section-4-Card-Image img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 3/2;
}
.Section-4-Card-Text {
    background-color: var(--Black-Background);
    color: var(--White-Background);
    font-size: 1.5rem;
    padding: 10px;
}
.Grow-Transition {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 3s, transform 3s;
}

.Grow-Transition.visible {
    opacity: 1;
    transform: scale(1);
}

/* Subhranta Start - Aamir Customized*/
.Section-6 {
    padding: 100px 100px;
    background-color: #fffff5;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.Section-6-Header {
    font-family: HKGrotsek, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
    margin: 0;
    color: #000000;
}
.Section-6-Main {
    display: flex;
    align-items: center;
    gap: 100px;
}
.Section-6-Boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.Section-6-Box-1,
.Section-6-Box-2,
.Section-6-Box-3 {
    width: 100%;
}

.Section-6-Box-1 img,
.Section-6-Box-2 img,
.Section-6-Box-3 img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
}

/* Subhranta End */

.Section-7 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 45px 45px 150px 45px;
    gap: 80px;
}
.Section-7::before {
    content: "";
    background-image: url("./assets/images/Section7BG.jpg");
    position: absolute;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background-size: cover;
}
.Section-7-Header {
    background-color: var(--Accent-Background3);
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 3.25vw;
    font-weight: bold;
    color: var(--White-Background);
    font-family: HKGrotsek;
}
.Section-7-Body {
    display: flex;
    text-align: center;
    width: 40%;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 35px 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 1.25vw;
}

.RightToLeftTransition {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 3s, transform 3s;
}

.RightToLeftTransition.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Responsive UI */

@media only screen and (max-width: 768px) {
    .Navigation-Body {
        height: fit-content;
    }
    .Nav-Link-Container {
        gap: 5px;
    }
    .Nav-Link-Container img {
        width: 35px;
    }
    .Logo img {
        width: 40px;
        object-fit: contain;
    }
    .Section-1 {
        padding: 20px 20px;
    }
    .Section-1-Left {
        gap: 20px;
    }
    .Section-1-Heading {
        font-size: 2rem;
        font-weight: bold;
    }
    .Section-1-Tagline {
        font-size: 1.25rem;
    }
    .Section-1-Button {
        font-size: 1.25rem;
    }
    .Menu-Toggle {
        font-size: 0.75rem;
    }
    .Section-2 {
        padding: 40px;
        gap: 20px;
    }
    .Section-2-Heading {
        font-size: 1.25rem;
        font-weight: bold;
    }
    .Section-2-Body {
        flex-direction: column;
        gap: 20px;
    }
    .Card {
        gap: 10px;
        width: 100%;
    }
    .Card-Body {
        gap: 10px;
    }
    .Card-Body-Heading {
        font-size: 1rem;
    }
    .Card-Body-Content {
        font-size: 1rem;
    }
    .Section-4 {
        gap: 20px;
        padding: 20px;
    }
    #Section-4-Container1 {
        font-size: 1.25rem;
    }
    #Section-4-Container2 {
        font-size: 1rem;
        padding: 0;
        line-height: 1.5;
    }
    #Section-4-Container3 {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .Section-4-Card-Text {
        font-size: 1rem;
    }
    /* Subhranta's code edited */
    .Section-6 {
        padding: 20px;
    }
    .Section-6-Header {
        font-size: 1.25rem;
        padding: 0;
    }
    .Section-6-Main {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .Section-6-Boxes {
        flex-direction: column;
        width: 100%;
    }
    .Section-6-Box-1,
    .Section-6-Box-2,
    .Section-6-Box-3 {
        width: 100%;
    }
    .Section-6-Box-1 img,
    .Section-6-Box-2 img,
    .Section-6-Box-3 img {
        width: 100%;
    }
    /* Subhranta end */
    .Section-7 {
        gap: 50px;
        padding: 50px;
    }
    .Section-7-Header {
        border-radius: 20px;
        font-size: 1rem;
    }
    .Section-7-Body {
        width: 100%;
        font-size: 1rem;
        padding: 15px 20px;
    }
}
