:root {
    --White-Background: #fff;
    --Black-Background: #000;
    --Accent-Background: #c8c8b2;
    --Accent-Background2: #fffff5;
}
@font-face {
    font-family: 'Lovelo'; /* Name you'll use to refer to this font */
    src: url('./assets/font/Lovelo-Black.otf') format('otf'), /* Font file path and format */
         url('./assets/font/Lovelo-Line-Bold.otf') format('otf'), /* Additional formats for browser compatibility */
         url('./assets/font/Lovelo-Line-Light.otf') format('otf'); /* Additional formats for browser compatibility */
    /* Add more src lines if you have different font formats available */
    font-weight: normal; /* Font weight (normal, bold, etc.) */
    font-style: normal; /* Font style (normal, italic, etc.) */
}

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: gray;
    font-family: Lovelo, Arial, Helvetica, sans-serif;
}
.Navigation-Body {
    display: flex;
    background-color: var(--White-Background);
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 15px 20px;
    flex: 1;
}
.Nav-Logo-Container,
.Nav-Link-Container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.Logo img {
    width: 50px;
    object-fit: contain;
}
.Logo-Text {
    font-size: large;
    font-weight: bold;
}
.Nav-Link-Container img {
    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.A-Link {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.Section-1 {
    display: flex;
    position: relative;
    background-color: black;
    justify-content: space-between;
    padding: 15px 20px;
    overflow: hidden;
    background-size: cover;
}
.Section-1-Button-Styling{
    background-color: var(--Accent-Background);
    border-color: var(--Accent-Background);
    color: var(--Black-Background);
    font-weight: bold;
}
.Section-1-Button-Styling:hover{
    background-color: #a4a492;
    border-color: #a4a492;
    color: var(--Black-Background);
}
.Section-1-Button-Styling:active{
    background-color: #a4a492 !important;
    border-color: #a4a492 !important;
    color: var(--Black-Background);
}
.Text-White{
    color: white;
    opacity: 1;
    filter: blur(0);
    text-shadow: 0 0 50px #000;
}
.Section-1::before {
    content: "";
    background-image: url('/assets/images/Section1BG.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    opacity: 0.2;
}
.Section-1-Left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 0px;
    width: 65%;
    gap: 20px;
}
.Section-1-Right {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    padding: 5vh 0px;
}
.Section-1-Heading {
    font-size: 4rem;
    font-weight: bold;
}
.Section-1-Tagline {
    font-size: 2rem;
}
.Section-1-Button {
    font-size: 1.5rem;
}

/* Responsive UI */
@media only screen and (max-width: 768px) {
    .Navigation-Body {
        height: fit-content;
    }
    .Nav-Link-Container img {
        width: 35px;
    }
    .Logo img {
        width: 40px;
        object-fit: contain;
    }
    .Section-1-Heading {
        font-size: 2rem;
        font-weight: bold;
    }
    .Section-1-Tagline {
        font-size: 1.25rem;
    }
    .Section-1-Button {
        font-size: 1.25rem;
    }
}
